{{! prettier-ignore }}
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      * { 
        color: #333333; 
        font-family: Helvetica, sans-serif; 
      } 
      img { 
        display: block; 
        height: 3rem; 
        margin: auto; 
      } 
      body {
        padding: 0; 
        padding-top: 1rem; 
        background-color: white; 
      } 
      footer, header {
        width: 100%; 
      } 
      footer { 
        position: absolute; 
        bottom: 0; 
        background-color: #1E72B8; 
        padding: 0.5rem; 
      } 
      footer > img { 
        height: 2rem; 
      } 
      h1 { 
        color: #000000;
      } 
      table { 
        margin: 1rem; 
        border:0; 
        cellpadding:0; 
        cellspacing:0; 
      }
      a:link, a:visited { 
        color: #1E72B8; 
      }

      #title {
        margin-top: 1rem;
        padding: 0.1rem;
        padding-left: 1rem;
        background-color: #F2F2F2;
      }

      p {
        padding-left: 1rem;
      }

    </style>
  </head>
  <body>
    <main>
      <header>
       
      </header>

      <div id="title">
        <b>Bem Vindo</b>
      </div>
      <footer>
      </footer>
    </main>
  </body>
</html>